body {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    /* border-radius: 5px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: fantasy;
}
.is-hidden {
    display: none;
}
.loader {
    margin-top: 20px;
}
.error {
    color: red;
    margin-top: 20px;
}
.cat-info {
    display: flex;
    gap: 20px;
}
.img-cat {
    width: 600px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.description {
    margin: auto;
}
